# generate keys:
# openssl rand -base64 16

# Keycloak Configuration
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

# Keycloak Database (PostgreSQL)
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_DB_NAME=

# Keycloak Realm User Passwords
REALM_ADMIN_PASSWORD=
REALM_MANAGER_PASSWORD=
REALM_MEMBER_PASSWORD=

# Member Service Database (PostgreSQL)
MEMBER_DB_USERNAME=
MEMBER_DB_PASSWORD=
MEMBER_DB_NAME=

# Pricing Service Database (MongoDB)
PRICING_DB_USERNAME=
PRICING_DB_PASSWORD=
PRICING_DB_NAME=

# RabbitMQ Configuration
RABBITMQ_USERNAME=
RABBITMQ_PW==

# Redis
REDIS_PASSWORD=

# Datadog
DD_API_KEY=

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_TRACES_EXPORTER=otlp

# Google API Key
GOOGLE_API_KEY=
GOOGLE_CHAT_MODEL=gemini-2.0-flash-live